
.blocks-ligatures-manager{

  display: none;

  &--active{ display: grid; }

  grid-auto-flow: column;

  width: 120px;

  position: absolute;
  height: 100%;

  left: 0;
  top: 0;

  background-color: #aaa;
}